
@font-face { font-family: 'NanumBarunGothic'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/NanumBarunGothic/NanumBarunGothic.woff') format('woff'); 
font-weight: normal; font-style: normal; }


@font-face { font-family: 'NanumBarunGothicUltraLight'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/NanumBarunGothic/NanumBarunGothicUltraLight.woff') format('woff'); 
font-weight: normal; font-style: normal; }


@font-face { font-family: 'NanumBarunGothicLight'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/NanumBarunGothic/NanumBarunGothicLight.woff') format('woff'); 
font-weight: normal; font-style: normal; }


@font-face { font-family: 'NanumBarunGothicBold'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'); 
font-weight: normal; font-style: normal; }


