
@font-face 
{ font-family: 'NanumBarunpenB'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/Nanum/NanumBarunpen/NanumBarunpenB.woff') format('woff'); 
font-weight: normal; font-style: normal; }

@font-face 
{ font-family: 'NanumBarunpenR'; 
src: url('https://cdn.jsdelivr.net/gh/miiusoft/font/Nanum/NanumBarunpen/NanumBarunpenR.woff') format('woff'); 
font-weight: normal; font-style: normal; }

